<h1>Welcome</h1>

<h2>
  <p>Homework 1 :  <%= link_to 'Link to my github', 'https://www.github.com/githttt', target: '_blank' %>   当前时间:  <%= @time %></p>
</h2>

<h2>
  <p>Homework 2 :  <%= link_to 'Link', controller: 'articles' %></p>
</h2>